<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de potins depuis le dossier views!</h1>
    
    <p><a href="/gossips/new/">Créer ton potin ici</a></p>
    
    <% gossips.each_with_index do |gossip, index| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %>
        <%= index %>
      </p>
      <p><a href="/gossips/<%= index %>">Voir le gossip</a></p>
    <% end %>
    
  </body>
</html>